@media screen and (max-width: 768px) {
  nav {
    display: none;
    top: 0;
    width: 100%;
    left: 0;
    border-radius: 0;
  }

  .header {
    position: relative;
    grid-template-columns: 1fr;
    &-left {
      height: 100vh;
      width: 100%;
      position: absolute;
    }
  }

  .about {
    &-wrapper {
      grid-template-columns: 1fr;
    }
    &-left {
      width: 65%;
      margin: 0 auto;
      height: 300px;
      .my-image {
        height: 300px;
        object-fit: cover;
      }
    }
  }

  .services {
    &-wrapper {
      &-box {
        grid-template-columns: 1fr;
      }
    }
  }

  .projects {
    .project:nth-child(even) {
      .project-right {
        .project-links {
          justify-content: center;
        }
      }
    }
    .project {
      display: grid;
      grid-template-columns: 1fr;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      &-left {
        width: 100% !important;
        position: relative !important;
        height: 250px;
        box-shadow: none;
        .project-img {
          height: 250px;
        }
      }
      &-right {
        background-color: $bg-gray;
        padding: 1rem 1.5rem;
        width: 100% !important;
        position: relative !important;
        text-align: center;
        h2 {
          font-size: 1.6rem;
          margin-bottom: 0.5rem;
        }
        .project-info {
          box-shadow: none;
          padding: 0;
          background: transparent;
        }
        .project-links {
          justify-content: center;
          .project-link-icon {
          }
        }
      }
    }
  }
}

#contact {
  .contact-form {
    form {
      .grid-2 {
        grid-template-columns: 1fr;
      }
      .form-group {
        gap: 0;
        margin-bottom: 0;
        div {
          margin-bottom: 1rem;
          input,
          textarea {
            padding: 1rem 0;
          }
        }
      }
    }
  }
}
