@import "config";

/* Navigation Bar */

nav {
  width: 92%;
  padding: 1.5em 2em;
  position: fixed;
  border: none;
  top: 25px;
  left: 4%;
  z-index: 99;
  border-radius: 40px;
  background-color: $primary-color;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  .nav-center {
    width: 100%;
    margin: 0 auto;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    .logo a {
      color: #000;
      font-weight: 500;
      font-size: 1.2em;
    }
    .nav-links {
      display: flex;

      li {
        position: relative;
        margin-left: 2.5em;
        text-transform: capitalize;
        .nav-link {
          font-weight: 500;
          color: $font-dark;
          span {
            position: relative;
            z-index: 9999;
          }
        }
      }
    }
  }
}

/* Header section  */

.header {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  &-left {
    background: url("../assets/hero-bg.jpg");
    background-size: cover;
    background-position: center center;
  }
  &-right {
    display: flex;
    align-items: center;
    padding: 2rem;
  }
}

/* Hero Section */

.hero {
  .hero-wrapper {
    h1 {
      font-size: 3.7rem;
      line-height: 3.5rem;
      letter-spacing: 2px;
      color: #262728;
      font-family: $font-unique;
      span {
        z-index: 2;
        position: relative;
      }
    }
    h1 span:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 10px;
      width: 100%;
      height: 15px;
      background: $hover-color;
      transition: 0.3s ease-in-out;
    }
    h1:hover span:before {
      height: 35px;
    }
    h4 {
      font-size: 1.2rem;
      margin-top: 1rem;
    }
    .social-hero {
      margin: 1rem 0;
      // li {
      //   a:hover {
      //     color: $hover-color;
      //   }
      // }
    }
  }
}

/* About section */
.about {
  .about-wrapper {
    height: 100vh;
    display: grid;
    align-items: center;
    grid-template-columns: 30% 70%;
  }
  &-left {
    .my-image {
      width: 100%;
      height: 400px;
    }
  }
  &-right {
    padding: 2rem;
    h1 {
      margin-bottom: 1rem;
      font-weight: 600;
      font-size: 2rem;
      line-height: 3rem;
      font-family: $font-unique;
    }
    p {
      margin-bottom: 2rem;
      font-weight: 300;
      font-size: 0.95rem;
    }
  }
}

/* Services section */

.services {
  width: 100%;
  background: $bg-gray;
  &-wrapper {
    &-box {
      margin-top: 2rem;
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr 1fr 1fr;
      .service {
        padding: 1rem 0;
        span {
          color: #e0ca04;
          font-size: 2rem;
        }
        h4 {
          font-size: 1.1rem;
          font-weight: 600;
          margin-top: 1rem;
        }
        p {
          margin-top: 1rem;
          font-size: 0.88rem;
          font-weight: 300;
        }
      }
    }
  }
}

/* Featured Projects */

.projects {
  &-wrap {
    &-item {
      position: relative;
      margin: 3rem 0;
      .project:nth-child(even) {
        text-align: left;
        margin-bottom: 8rem;
        .project-left {
          position: absolute;
          right: 0;
        }
        .project-right {
          position: relative;
          .project-links {
            display: flex;
            justify-content: flex-start;
          }
        }
      }
      .project {
        text-align: right;
        position: relative;
        display: flex;
        margin-bottom: 6rem;
        &-left {
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          width: 55%;
          height: 350px;
          overflow: hidden;
          transition: 0.3s ease-in-out;
          position: relative;
          .project-img {
            position: absolute;
            height: 350px;
          }
        }
        &-left:hover {
          box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
            rgba(0, 0, 0, 0.05) 0px 5px 10px;
          transform: translateY(-3px);
        }
        &-right {
          position: absolute;
          right: 0;
          width: 55%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          min-height: 350px;
          h5 {
            font-family: $font-unique;
            font-size: 1rem;
            letter-spacing: 1px;
          }
          h2 {
            font-size: 1.8rem;
            margin-bottom: 0.7rem;
          }
          .project-info {
            background: $bg-gray;
            // background: $primary-color;
            padding: 1rem 1.5rem;
            border-radius: 5px;
            margin-bottom: 0.8rem;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
            p {
              font-size: 0.88rem;
              font-weight: 300;
            }
          }
          .project-tech {
            font-size: 0.95rem;
            // font-family: $font-unique;
            font-weight: 500;
            margin-bottom: 0.5rem;
            span {
              margin-left: 1rem;
            }
          }
          .project-links {
            display: flex;
            justify-content: flex-end;
            .project-link-icon {
              margin-top: 0.3rem;
              div {
                border: 1px solid #ccc;
                width: 2.8rem;
                height: 2.8rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                margin-left: 0.5rem;
                .project-icon {
                  color: $font-dark;
                  font-size: 1.3rem;
                }
              }
              div:hover {
                border: 1px solid $hover-color;
              }
            }
          }
        }
      }
    }
  }
}

/* Contact section */
#contact {
  background: $bg-gray;
  .contact-form {
    form {
      margin-top: 2rem;
      .form-group {
        gap: 3rem;
        width: 100%;
        margin-bottom: 2em;
        position: relative;
        div {
          position: relative;
          outline: none;
          label {
            width: 100%;
            z-index: 9;
          }
          input {
            padding: 2rem 0;
          }
          input,
          textarea {
            outline-style: none;
            font-family: $font-stack;
            width: 100%;
            height: 100%;
            border: 0;
            background: $bg-gray;
            border-bottom: 1px solid rgba(204, 204, 204, 0.836);
          }
        }
        .contact-msg {
          height: 100px;
        }
      }
      .grid-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

/* Footer section */

footer {
  padding: 3rem 0;
  background: $bg-gray;
  div {
    text-align: center;
    .footer-links {
      margin: 0 auto;
      margin-bottom: 1rem;
      li {
        border: 1px solid #ccc;
        width: 2.8rem;
        height: 2.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
      }
      .social-icon {
        font-size: 1.2rem;
      }
    }
    p {
      font-size: 0.9rem;
      a {
        position: relative;
        color: $font-dark;
      }
      a:after {
        content: "";
        width: 100%;
        height: 4px;
        background: $hover-color;
        position: absolute;
        left: 0;
        bottom: 2px;
      }
    }
  }
}

/*  ===============  */

// Now that is interesting
.underlined {
  color: black;
  flex: 1;
  text-decoration: none;
  background-image: linear-gradient(to right, yellow 0, yellow 100%);
  background-position: 0 1.2em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background 0.5s;
  .about-right:hover & {
    background-size: 100% 100%;
  }
  &--thin {
    background-image: linear-gradient(to right, yellow 0, yellow 100%);
  }
  &--thick {
    background-position: 0 -0.1em;
  }
  &--offset {
    background-position: 0 0.2em;
    //didn't find another solution than mask the underline shape by a box shadow with the same color than the bg
    box-shadow: inset 0 -0.5em 0 0 white;
  }
  &--gradient {
    background-position: 0 -0.1em;
    background-image: linear-gradient(to right, yellow 0, lightgreen 100%);
  }
  &--reverse {
    background-position: 100% -0.1em;
    transition: background 1s; //yep, that's a long link
    background-image: linear-gradient(to right, yellow 0, yellow 100%);
  }
}
